.data-table {
   font-size: 12px;
}
.power-th {
   width: 15px;
}
.power-num {

}
.red-field-1, .red-field-2, .red-field-3, .red-field-4 {
   background-color: #FF3333;
}
/*.red-field {
   font-size: 10px;
   text-align: center;
   color: black;
   background-color: #FF3333;
   left:
}*/